{% extends "medical_claim/medical_dashboard.html" %}
{% block page_title %}<span class="text-danger">{{ year }} Medical History</span> | {{ request.user.first_name }}{% endblock page_title %}
{% block description %}
<hr class="hr">
<p class="lead">This is the medical claim archive for the year <span class="text-danger">{{ year }}</p>
{% endblock description %}
{% block button_1 %}<a class="btn btn-dark" href="{% url 'medical:history' %}" data-mdb-ripple-init data-mdb-ripple-color="dark">Back <i class="fas fa-arrow-left"></i></a>{% endblock button_1 %}
{% block button_2 %}{% endblock button_2 %}
{% block card_claim_limit %}{% endblock card_claim_limit %}
{% block card_1 %}{% endblock card_1 %}
{% block card_2 %}{% endblock card_2 %}