{% extends "base.html" %}
{% load custom_filters %}
{% block content %}
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h1>
                    {% block page_title %}
                        {{ request.user.first_name }}
                    {% endblock page_title %}
                </h1>
            </div>
            <div>
                {% block button_1 %}<a class="btn btn-outline-warning" href="{% block history_link %}{% endblock history_link %}" data-mdb-ripple-init data-mdb-ripple-color="dark">Claim History <i class="fas fa-clock-rotate-left"></i></a>{% endblock button_1 %}
            </div>
        </div>
        {% block description %}{% endblock description %}
        <hr class="hr">
        {% block cards %}
            <div class="card-group">
                {% block card_1 %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center text-warning">
                                Pending Claims <i class="fas fa-clock"></i>
                            </h5>
                            <hr class="hr">
                            <p class="card-text text-center lead">{% block card_pending %}{{ pending_claims_count }}{% endblock card_pending %} Claims</p>
                        </div>
                    </div>
                {% endblock card_1 %}
                {% block card_2 %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center text-warning">
                                Pending Amount <i class="fas fa-coins"></i>
                            </h5>
                            <hr class="hr">
                            <p class="card-text text-center lead">RM {% block card_pending_amount %}{{ total_pending_amount }}{% endblock card_pending_amount %}</p>
                        </div>
                    </div>
                {% endblock card_2 %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center text-success">
                            Approved Claims <i class="fas fa-check"></i>
                        </h5>
                        <hr class="hr">
                        <p class="card-text text-center lead">{% block card_approved %}{{ approved_claims_count }}{% endblock card_approved %} Claims</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center text-success">
                            Approved Amount <i class="fas fa-hand-holding-dollar"></i>
                        </h5>
                        <hr class="hr">
                        <p class="card-text text-center lead">RM {% block card_approved_amount %}{{ total_approved_amount }}{% endblock card_approved_amount %}</p>
                    </div>
                </div>
            </div>
            <hr class="hr">
        {% endblock cards %}
        {% block user_table %}
        {% endblock user_table %}
        {% block dashboard_content %}
            <!--PENDING CLAIMS-->
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div>
                    <h2>Pending Claims</h2>
                </div>
                <div>
                    {% block button_2 %}<a class="btn btn-primary" href="{% url 'claim:submit' %}" data-mdb-ripple-init>Add Claim <i class="fas fa-plus"></i></a>{% endblock button_2 %}
                </div>
            </div>
            {% if pending_claims_count %}
                <div class="accordion" id="accordionPending">
                    {% for month, claims in pending_claims_by_month.items %}
                        {% if claims|length %}
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="heading_{{ month }}">
                                    <button data-mdb-collapse-init
                                            class="accordion-button"
                                            type="button"
                                            data-mdb-toggle="collapse"
                                            data-mdb-target="#panelsStayOpen-collapse_{{ month }}"
                                            aria-expanded="true"
                                            aria-controls="panelsStayOpen-collapse_{{ month }}">
                                        <div class="d-flex w-100 justify-content-between me-4 ">
                                            {{ month_names|get:month }}
                                            <span class="d-flex">
                                                <p class="m-0 me-4">
                                                    <span class="bold-small">Total Pending:</span>RM{{ total_pending_amount_by_month|get:month }}
                                                </p>
                                                <span class="badge rounded-pill bg-warning">{{ claims|length }}</span>
                                            </span>
                                        </div>
                                    </button>
                                </h3>
                                <div id="panelsStayOpen-collapse_{{ month }}"
                                    class="accordion-collapse collapse"
                                    aria-labelledby="heading_{{ month }}">
                                    <div class="accordion-body">
                                        {% if claims %}
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Claim ID</th>
                                                            {% block pending_th %}{% endblock pending_th %}
                                                            <th scope="col">Program Name</th>
                                                            <th scope="col">Program Date</th>
                                                            <th scope="col">Created At</th>
                                                            <th scope="col">Total Amount (RM)</th>
                                                            <th scope="col">Status</th>
                                                            <th scope="col">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for claim in claims %}
                                                            <tr>
                                                                <td>
                                                                    <a href="{% url 'claim:detail' claim.id %}">#{{ claim.id }}</a>
                                                                </td>
                                                                {% block pending_td %}{% endblock pending_td %}
                                                                <td>{{ claim.program_name }}</td>
                                                                <td>{{ claim.program_start_date }}</td>
                                                                <td>{{ claim.created_at }}</td>
                                                                <td>{{ claim.total_amount }}</td>
                                                                <td>
                                                                    {% if claim.claim_status.id == 1 %}
                                                                        <span class="badge bg-warning">{{ claim.claim_status }}</span>
                                                                    {% elif claim.claim_status.id == 2 %}
                                                                        <span class="badge bg-success">{{ claim.claim_status }}</span>
                                                                    {% elif claim.claim_status.id == 3 %}
                                                                        <span class="badge bg-danger">{{ claim.claim_status }}</span>
                                                                    {% else %}
                                                                        {{ claim.claim_status }}
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    <!-- Button - Delete Claim -->
                                                                    {% if request.user == claim.claimer %}
                                                                        <button type="button"
                                                                                class="btn btn-danger"
                                                                                data-mdb-modal-init
                                                                                data-mdb-target="#delete{{ claim.id }}"
                                                                                data-mdb-ripple-init>
                                                                            <i class="fa-solid fa-trash-can fa-lg"></i>
                                                                        </button>
                                                                    {% endif %}
                                                                    <!-- Modal - Delete Claim -->
                                                                    <div class="modal fade"
                                                                        id="delete{{ claim.id }}"
                                                                        tabindex="-1"
                                                                        aria-labelledby="myModalLabel2"
                                                                        aria-hidden="true">
                                                                        <div class="modal-dialog" role="document">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h5 class="modal-title">
                                                                                        Claim ID: {{ claim.id }}
                                                                                        <br />
                                                                                        Program Name: {{ claim.program_name }}
                                                                                    </h5>
                                                                                    <button type="button"
                                                                                            class="btn-close"
                                                                                            data-mdb-ripple-init
                                                                                            data-mdb-dismiss="modal"
                                                                                            aria-label="Close">
                                                                                        <span aria-hidden="true"></span>
                                                                                    </button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <p>Are you sure you want to delete this claim?</p>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <form action="{% url 'claim:delete' claim.id %}" method="post">
                                                                                        {% csrf_token %}
                                                                                        <input type="submit" class="btn btn-danger" data-mdb-ripple-init value="Delete" />
                                                                                    </form>
                                                                                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancel</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <h5 class="alert alert-warning">No claim records</h5>
            {% endif %}
            <hr class="hr">
            <!--APPROVED CLAIMS-->
            <h2 class="mb-3">Approved Claims</h2>
            {% if approved_claims_count %}
                <div class="accordion" id="accordionApproved">
                    {% for month, claims in approved_claims_by_month.items %}
                        {% if claims|length %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading_approved_{{ month }}">
                                    <button data-mdb-collapse-init
                                            class="accordion-button"
                                            type="button"
                                            data-mdb-toggle="collapse"
                                            data-mdb-target="#panelsStayOpen-collapse_approved_{{ month }}"
                                            aria-expanded="true"
                                            aria-controls="panelsStayOpen-collapse_approved_{{ month }}">
                                        <div class="d-flex w-100 justify-content-between me-4 ">
                                            {{ month_names|get:month }}
                                            <span class="d-flex">
                                                <p class="m-0 me-4">
                                                    <span class="bold-small">Total Pending:</span>RM{{ total_approved_amount_by_month|get:month }}
                                                </p>
                                                <span class="badge rounded-pill bg-success">{{ claims|length }}</span>
                                            </span>
                                        </div>
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapse_approved_{{ month }}"
                                    class="accordion-collapse collapse"
                                    aria-labelledby="heading_approved_{{ month }}">
                                    <div class="accordion-body">
                                        {% if claims %}
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Claim ID</th>
                                                            {% block approved_th %}{% endblock approved_th %}
                                                            <th scope="col">Program Name</th>
                                                            <th scope="col">Program Date</th>
                                                            <th scope="col">Created At</th>
                                                            <th scope="col">Approved At</th>
                                                            <th scope="col">Approved Amount (RM)</th>
                                                            <th scope="col">Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for claim in claims %}
                                                            <tr>
                                                                <td>
                                                                    <a href="{% url 'claim:detail' claim.id %}">#{{ claim.id }}</a>
                                                                </td>
                                                                {% block approved_td %}{% endblock approved_td %}
                                                                <td>{{ claim.program_name }}</td>
                                                                <td>{{ claim.program_start_date }}</td>
                                                                <td>{{ claim.created_at }}</td>
                                                                <td>{{ claim.approved_claim.created_at }}</td>
                                                                <td>{{ claim.approved_claim.amount }}</td>
                                                                <td>
                                                                    {% if claim.claim_status.id == 1 %}
                                                                        <span class="badge bg-warning">{{ claim.claim_status }}</span>
                                                                    {% elif claim.claim_status.id == 2 %}
                                                                        <span class="badge bg-success">{{ claim.claim_status }}</span>
                                                                    {% elif claim.claim_status.id == 3 %}
                                                                        <span class="badge bg-danger">{{ claim.claim_status }}</span>
                                                                    {% else %}
                                                                        {{ claim.claim_status }}
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
            {% else %}
                <h5 class="alert alert-success">No claim records</h5>
            {% endif %}
            <hr class="hr">
            <!--REJECTED CLAIMS-->
            <h2 class="mb-3">Rejected Claims</h2>
            {% if rejected_claims_count %}
                <div class="accordion" id="accordionRejected">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_rejected">
                            <button data-mdb-collapse-init
                                    class="accordion-button"
                                    type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#panelsStayOpen-collapse_rejected"
                                    aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapse_rejected">
                                <div class="d-flex w-100 justify-content-between me-4 ">
                                    Rejected Claims
                                    <span class="d-flex">
                                        <p class="m-0 me-4">
                                            <span class="text-start bold-small"></span>
                                        </p>
                                        <span class="badge rounded-pill bg-danger">{{ rejected_claims|length }}</span>
                                    </span>
                                </div>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapse_rejected"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading_rejected">
                            <div class="accordion-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Claim ID</th>
                                                {% block rejected_th %}{% endblock rejected_th %}
                                                <th scope="col">Program Name</th>
                                                <th scope="col">Program Date</th>
                                                <th scope="col">Created At</th>
                                                <th scope="col">Claim Amount (RM)</th>
                                                <th scope="col">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for claim in rejected_claims %}
                                                <tr>
                                                    <td>
                                                        <a href="{% url 'claim:detail' claim.id %}">#{{ claim.id }}</a>
                                                    </td>
                                                    {% block rejected_td %}{% endblock rejected_td %}
                                                    <td>{{ claim.program_name }}</td>
                                                    <td>{{ claim.program_start_date }}</td>
                                                    <td>{{ claim.created_at }}</td>
                                                    <td>{{ claim.total_amount }}</td>
                                                    <td>
                                                        {% if claim.claim_status.id == 1 %}
                                                            <span class="badge bg-warning">{{ claim.claim_status }}</span>
                                                        {% elif claim.claim_status.id == 2 %}
                                                            <span class="badge bg-success">{{ claim.claim_status }}</span>
                                                        {% elif claim.claim_status.id == 3 %}
                                                            <span class="badge bg-danger">{{ claim.claim_status }}</span>
                                                        {% else %}
                                                            {{ claim.claim_status }}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <h5 class="alert alert-danger">No claim records</h5>
            {% endif %}
            <hr class="hr">
        {% endblock dashboard_content %}
        {% block charts %}
        {% endblock charts %}
    </div>
{% endblock content %}
